.circular { 
	width: 200px; 
	height: 200px; 
	border-radius: 150px; 
	-webkit-border-radius: 150px; 
	-moz-border-radius: 150px; 
	background: url(../imagenes/user.jpg) no-repeat; 
}
body{
	 background-image: url("../imagenes/fondo7.jpg");
	 background-repeat: no-repeat;
	 background-size:100% 100%;
}

a:link   
{   
 text-decoration:none;   
}   